<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <h1>About Rohit</h1>
    <p align="left">
     Name       : ROHIT  JAIN<br>
Date of Birth     : Oct. 25th, 90<br>
Qualification     : ( B.C.A. & M.C.A. )<br>
Height        : 5’7”<br>
Color       : Fair & Attractive<br>
Business      : -Software Engineer (Java Technology’s) <br>
 - Sahara India Agent , LIC Agent{Jaipur}<br>
Father’s Name     :Shri Prem Chand Jain(Govt. Employee) <br>
Mother’s Name   :Smt. Madhu Devi Jain(House Wife)<br>
Uncle       :Suresh Chand Jain-Asha Devi Jain         Padam Chand Jain-Champa Devi Jain<br>
        Gyan Chand Jain-Urmela Devi Jain<br>
        Mukesh Jain-Mamta Devi  Jain<br>

Brother’s     Mr. Arpit Jain(CA & B.COM & M.COM)      <br>
      Mr. Shubham Jain(B.B.A) (Kishangarh) <br>

Sakhen      : Self -    CHHABRA<br>
        Nanhial - AJMERA<br>

Address     : SE Jain ROhit S/o P.C.Jain,<br>
P.70,Majela Road,<br>
Madanaganj-KIshangarh<br> 
Distt : - (Ajmer)(Rajasthan)-305801<br>
Ph.:-  +91 08946919241, 08385942824<br>
Mail id:- engrohitjain5@gmail.com<br>

    </p>
  </body>
</html>
